.non-active-nav {
  display: none;
  ul {
    display: flex;
    li {
      list-style: none;
      a {
        text-decoration: none;
        margin: 0 14px;
        font-size: 1em;
      }
    }
  }

  .list-label {
    display: none;
  }

  [aria-current="page"] {
    border-bottom: 4px solid #ffca00;
    // padding: 4px;
    color: #ffca00 !important;
  }
}

.navigation {
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 999;
  background: #95efa8;
  padding: 1% 5%;

  h1 {
    a {
      font-size: 40px;
      color: #fff !important;
    }
  }
}

.hamburger-ul {
  background: #ffffff;
  padding: 19px;
  border-radius: 10px;
}

// navul
.navul {
  display: inherit;
  li {
    margin-right: 20px;

    background: linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover {
      background-size: 0 3px, 100% 3px;
    }
  }
}

/*Active Nav*/

.active-nav {
  height: 100vh;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #060606;
  right: 0;

  .list-label {
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #6d6868ee;
    margin-bottom: 1.5em;
  }

  ul {
    text-align: left;
    transform: translateY(10em);
    margin: 0 20em;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    border-bottom: 1px solid #3e3e3e;
    border-top: 1px solid #3e3e3e;
  }
  li {
    list-style-type: none;
    font-size: 2em;
    padding: 7px 0;
    font-weight: bold;

    &:hover {
      &:after {
        content: "";
        width: 0;
        background: #d6a26c;
        position: relative;
        display: block;
        height: 1px;
        animation: nav-after;
        animation-iteration-count: infinite;
        animation-duration: 3.5s;
      }
    }
  }
  a {
    text-decoration: none;
    color: #fff !important;
    &:hover {
      color: #d6a26c !important;
    }
  }

  .hamburger-x-mark {
    width: 25px;
    display: block;
    height: 3px;
    background: #fff;
    margin: 3px 0;
    cursor: pointer;

    &:nth-child(1) {
      transform: rotate(45deg);
      top: 4px;
      position: relative;
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
      position: relative;
      top: -2px;
    }
  }
}

.close-mark {
  padding: 18px 13px;
  border-radius: 50%;
  background: #ffca004d;
  cursor: pointer;
  position: relative;
  display: inline-block;
  position: absolute;
  right: 75px;
  top: 42px;
}

.logo-img {
  position: relative;
  top: 20p;
  top: 7px;
  width: 130px;
  display: none;
}
